h1{text-align: center;
    font-size: 80px;
font-family:  'Times New Roman';}

h3{color: rgb(255, 1, 137);}

h6{font-size: 7px;}

.versaceimg {width: 100px;
height: auto;}

.brand {font-family:system-ui;
color: rgb(73, 162, 187);
font-size: 30px;}

.B1keywords {color: rgb(97, 6, 59);
font-weight: bold;}

hr {color: rgb(137, 22, 84);}
