h1{text-align: center;
    font-size: 60px;
font-family:  'Times New Roman';}


.versaceimg{width: 140px;
height: 200px;}

.brand{text-decoration-color: rgb(60, 7, 73);
font:small-caps bold 24px/1 sans-serif;}