h1{text-align: center;
    font-size: 60px;
font-family:  'Times New Roman';}

h3{color: gold;}

.versaceimg{width: 100px;
height: auto;}

.brand{font-family:system-ui;
color: rgb(50, 106, 135);}

.B1keywords{color: rgb(97, 6, 59);
font-weight: bold;}

.hrvalentino {color: rgb(137, 22, 84);}
#h3valentino {color: rgb(209, 8, 102);}
